$dark-blue-color: #0069B4;
$light-blue-color: #E6F3FA;
$back-ground-color: #FFFFFF;
$component-box-border: #C8C8C8;
$title-divider:  #C8C8C8;
$black-color: #000000;
$text-black-color: #3A454E;
$text-input-border: #C8C8C8;
$place-holder-text-color: #CFCFCF;
$dark-grey:  #666F76;
$light-grey: #8FACBB;
$background-grey: #F2F5F9;
$dark-green: #2BA74C;
$white: #FFFFFF;